<html>
    <head>
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
    </head>

<body>

    <h1>List of Restaurants</h1>

    <!--MESSAGE FLASHING EXAMPLE -->
    {% with messages = get_flashed_messages() %} {% if messages %}
    
    <ul>
        {% for message in messages %}
        <li>
            <strong>{{message}}</strong>
        </li>
        {% endfor %}
    </ul>
    {% endif %} {% endwith %}

    <a href='{{url_for('newRestaurant') }}'>
        Create New Restaurant</a>

    {% for restaurant in restaurants %}

    <div>
        <p>{{restaurant.name}}</p>
        <a href='{{ url_for('editRestaurant', restaurant_id=restaurant.id) }}'>Edit</a>
        </br>
        <a href='{{ url_for('deleteRestaurant', restaurant_id=restaurant.id) }}'>Delete</a>
        </br>

    </div>


    {% endfor %}
</body>

</html>